<!doctype html>
<html>
    <title>{{title}}-接口文档</title>
    <link href="/static/image/logo.png" rel="shortcut icon">
    <head>
        <meta charset="utf-8">
        <script 
            type="module" 
            src="/static/rapidoc-min.js"
        ></script>
    </head>
    <body>
        <rapi-doc 
            spec-url="{{openapi_url}}"
            theme = "light"
            render-style = "read"
            show-header="false"
            schema-expand-level="3"
            primary-color = "#283976"
            bg-color = "#f2f6fc"
        />
    </body> 
</html>